@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
box {
  border-style: solid;
  border-width: 1px;
  border-color: black; }

.big-title {
  font-family: 'Amatic SC';
  font-size: 1650%; }

#second-row {
  position: relative;
  top: -60px; }

.disable-select, .languages, .side-menu-left, .side-menu-right, .phrases, .language {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.languages, .side-menu-left, .side-menu-right, .phrases {
  font-family: 'Open Sans', sans-serif;
  font-size: 290%;
  display: inline;
  cursor: pointer; }

.language {
  display: inline;
  width: 60px; }

.phrase-selected,
.menu-element-selected,
.language-selected {
  background-color: white;
  box-shadow: 0 6px 20px -7px #888 !important; }

.phrase-selected {
  font-size: 100%; }

::selection {
  background: #979797;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #979797;
  /* Gecko Browsers */ }

.right {
  position: absolute;
  right: 0; }

.center {
  width: 50%;
  margin: 0 auto; }

.menu-disabled {
  color: #979797;
  cursor: default; }

.phrases {
  font-size: 150%;
  position: relative;
  top: -160px;
  left: 55px; }

.phrase, .recogized-phrase {
  width: 450px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 5px 12px -8px #888; }

.recogized-phrase {
  min-height: 4em;
  cursor: default;
  border: #979797;
  border-style: dashed; }

.disabled {
  color: #979797; }

@media (max-width: 991px) {
  .side-menu-left,
  .side-menu-right {
    text-align: center; }
  .menu-item {
    display: inline; }
  .phrases,
  .recogized-phrase {
    top: -50px; } }

@media (min-width: 992px) {
  .side-menu-right {
    position: absolute;
    right: 0; }
  .side-menu-left,
  .side-menu-right {
    top: -116px; } }
