@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$ColorSelected: lightgray;
// just for develop
box {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.big-title {
  font-family: 'Amatic SC';
  font-size: 1650%;
}
#second-row {
  position: relative;
  top: -60px;
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.languages {
  @extend .disable-select;
  font-family: 'Open Sans', sans-serif;
  font-size: 290%;
  display: inline;
  cursor: pointer;
}
.language {
  @extend .disable-select;
  display: inline;
  width: 60px;
}
.phrase-selected,
.language-selected {
  color: white;
  background-color: $ColorSelected;
}
 ::selection {
  background: $ColorSelected;
  /* WebKit/Blink Browsers */
}
 ::-moz-selection {
  background: $ColorSelected;
  /* Gecko Browsers */
}
.right {
  position: absolute;
  right: 0;
}
.center {
  width: 50%;
  margin: 0 auto;
}
.side-menu-left {
  @extend .languages;
}
.side-menu-right {
  @extend .languages;
}
.menu-item {

}
.menu-disabled {
  color: $ColorSelected;
}
.recogized-phrase {
  @extend .languages;
  width: 450px;
  position: relative;
  top: -160px;

  //border-style: solid;
  //border-width: 2px;
  //border-color: black;
  background-color: aliceblue;
}
.speech-recognizing {
  border-color: brown;
}
.phrases {
  @extend .languages;
  position: relative;
  top: -160px;
}
.phrase {
  width: 450px;
}
$screen-lg-min: 992px;
$screen-sm-max: $screen-lg-min - 1;

// tablets
@media (max-width: $screen-sm-max) {
  .side-menu-left,
  .side-menu-right {
    text-align: center;
  }
  .menu-item {
    display: inline;
  }
  .phrases,
  .recogized-phrase {
    top: -50px;
  }
}

//desktop
@media (min-width: $screen-lg-min) {
  .side-menu-right {
    position: absolute;
    right: 0;
  }
  .side-menu-left,
  .side-menu-right {
    top: -116px;
  }
}
