<!doctype html>
<html>
    <head>
        <title>Speaker</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>            
    </head>
    <body>
        <div ng-app="app" ng-controller="mainController">
            
            <div>{{selectedPhrase.text}}</div>
            
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <input type="text" 
                         class="form-control" 
                         placeholder="add phrase..." 
                         ng-model="phraseToAdd"
                         ng-keypress="addPhraseByPressEnter($event, phraseToAdd)">
                  <span class="input-group-btn">
                    <button class="btn btn-default" 
                            type="button"
                            ng-click="addPhrase(phraseToAdd)"
                            >Add</button>
                  </span>
                </div>
              </div>
            </div>
            
            <ul class="list-group">
              <li class="list-group-item"
                  ng-repeat="phrase in phrases track by $index"
                  ng-click="selectPhrase(phrase)">
                  <button type="button" class="btn btn-default" ng-click="removePhrase(phrase)"> x </button>
                  <span>{{phrase.text}}</span>
                </li>
              
            </ul>            
            
            <div>
                <div >
                    
                    <br/>
                </div>
            </div>
            
        </div>

        <script src="js/main.js"></script>
        <script src="js/mainController.js"></script> 
    </body>
</html>
