<section>
  <div class="container">
    <div id="learnig-area" class="row">
      <h4>Learn</h4>

      <div class="row original-sentence" ng-show="selectedSentence">
        <div class="col-sm-1 col-md-1 col-lg-1">
          <a href=" " class="glyphicon" ng-class="{'glyphicon-play': !speechStateSpeaking, 'glyphicon-stop': speechStateSpeaking}" ng-click="playSentence($event, selectedSentence)"></a>
        </div>
        <div class="col-sm-11 col-md-11 col-lg-11">
          <div class="sentence">{{selectedSentence.text}}</div>
        </div>
      </div>

      <!-- <div class="row parsed-sentence" ng-show="selectedSentence">
        <div class="col-sm-1 col-md-1 col-lg-1">
          <a href=" " class="glyphicon" ng-class="{'glyphicon-record': !recognitionSateStarted, 'glyphicon-stop': recognitionSateStarted}" ng-click="startSpeechRecognition($event)"></a>
        </div>
        <div class="col-sm-11 col-md-11 col-lg-11">
          <div class="sentence">{{parsedSentence.text}}</div>
        </div>
      </div> -->

      <div class="row parsed-sentence" ng-show="selectedSentence">
        <div class="col-sm-1 col-md-1 col-lg-1">
          <a href=" " class="glyphicon" ng-class="{'glyphicon-record': !recognitionSateStarted, 'glyphicon-stop': recognitionSateStarted}" ng-click="startSpeechRecognition($event)"></a>
        </div>
        <div class="col-sm-11 col-md-11 col-lg-11">
          <div class="sentence">
            <div ng-repeat="letter in sentencesDiff track by $index" ng-class="{'added': letter.added, 'removed': letter.removed, 'no-change': !(letter.added || letter.removed)}">
              {{letter.value}}&nbsp;
            </div>
            <div ng-show="parsedSentence && parsedSentence.totalResult">
              ({{parsedSentence.totalResult}})
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="searching-area" class="row">
      <div class="pull-right">
        <h2>Add a sentence</h2>
        <input id="search-input" placeholder="sentence" type="text" ng-model="searchingPhrase" ng-keypress="inputKeyPressed($event, searchingPhrase)">
        <a href="" class="glyphicon glyphicon-plus" ng-click="addSentence($event, searchingPhrase)"></a>
      </div>
    </div>
    <div id=" sentences-list-area " class="row ">
      <h4>Choose a sentence</h4>
      <div ng-repeat="sentence in sentences track by $index ">
        <div class="sentence ">
          <a href=" " class="glyphicon glyphicon-remove" ng-click="removeSentence($event, sentence)"></a>
          <a href=" " ng-click="selectSentence($event, sentence) ">
                {{sentence.text}}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</section>
