<div id="second-row" class="row">
  <div class="col-md-3 box side-menu-left">
    <div class="menu-item">LEARN</div>
    <div class="menu-item menu-disabled">TEST</div>
    <div class="menu-item">COMPOSE</div>
  </div>

  <div class="col-md-6 box">
    <div>
      <center>
        <language-menu>loading...</language-menu>
      </center>
    </div>
  </div>

  <div class="col-md-3 box">
    <div class="side-menu-right">
      <div class="menu-item menu-disabled">LOGIN</div>
      <div class="menu-item menu-disabled">SETUP</div>
      <div class="menu-item menu-disabled">ABOUT</div>
    </div>
  </div>
</div>
