<html>

<head>
  <title>Speaker 0.2.2</title>

  <script src="https://code.angularjs.org/tools/system.js"></script>
  <script src="https://code.angularjs.org/2.0.0-alpha.44/angular2.dev.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script>
    System.config({
      packages: {
        'js': {
          defaultExtension: 'js'
        }
      }
    });
    System.import('js/app/languagesBar');
    System.import('js/app/phrasesList');
    //System.import('js/components/main-app/main-app');

    System.import('js/components/app.js')
      .then(function(module) {
        return module.main();
      })
      .catch(console.error.bind(console));

    // System.import('js/components/top-header/top-header');
    // System.import('js/components/menu/menu');
    // System.import('js/components/content/content');

    // System.import('js/app/languagesBar');
    // System.import('js/app/phrasesList');
    // System.import('js/app/main-app/main-app');
  </script>

</head>

<body>

  <main-app></main-app>

  <div class="container">
    <div class="row">
      <div class="col-md-3 box">
      </div>

      <div class="col-md-6 box">
        <div>
          <center class="big-title">SPEAKER</center>
        </div>
      </div>

      <div class="col-md-3 box">
      </div>
    </div>

    <div id="second-row" class="row" ng-cloak>
      <div class="col-md-3 box side-menu-left">
        <div class="menu-item">LEARN</div>
        <div class="menu-item menu-disabled">TEST</div>
        <div class="menu-item">COMPOSE</div>
      </div>

      <div class="col-md-6 box">
        <div>
          <center>
            <languages-set>loading...</languages-set>
          </center>
        </div>
      </div>

      <div class="col-md-3 box">
        <div class="side-menu-right">
          <div class="menu-item menu-disabled">LOGIN</div>
          <div class="menu-item menu-disabled">SETUP</div>
          <div class="menu-item menu-disabled">ABOUT</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 box">
      </div>

      <div class="col-md-6 box">
        <div>
          <center>
            <phrases-list>loading... </phrases-list>
            <!-- <div>
              <div class="recogized-phrase">
                {{recogizedPhrase}}
              </div>
            </div>
            <div class="phrases">
              <div class="phrase" ng-click="tooglePhrase(phrase)" ng-class="{'phrase-selected': isPhraseSelected(phrase)}" ng-repeat="phrase in phrases">
                {{phrase.text}}
              </div>
            </div> -->

          </center>
        </div>
      </div>

      <div class="col-md-3 box">
      </div>
    </div>


  </div>
</body>

</html>
